################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/FoodAPI/.vs/FoodAPI/FileContentIndex/529ba607-e8e9-4a00-a82f-0a03a73e6259.vsidx
/API/FoodAPI/.vs/ProjectEvaluation
/API/FoodAPI/.vs/FoodAPI
